<a href="https://colab.research.google.com/github/joel-joseph08/Machine-Learning/blob/main/golfdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [6]:
data= pd.read_csv('golf-dataset.csv')

In [7]:
data

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [9]:
label_encoder = preprocessing.LabelEncoder()
data['Outlook']= label_encoder.fit_transform(data['Outlook'])
data['Temp']= label_encoder.fit_transform(data['Temp'])
data['Humidity']= label_encoder.fit_transform(data['Humidity'])
data['Windy']= label_encoder.fit_transform(data['Windy'])
data['Play Golf']= label_encoder.fit_transform(data['Play Golf'])

In [10]:
data

    Outlook  Temp  Humidity  Windy  Play Golf
0         1     1         0      0          0
1         1     1         0      1          0
2         0     1         0      0          1
3         2     2         0      0          1
4         2     0         1      0          1
5         2     0         1      1          0
6         0     0         1      1          1
7         1     2         0      0          0
8         1     0         1      0          1
9         2     2         1      0          1
10        1     2         1      1          1
11        0     2         0      1          1
12        0     1         1      0          1
13        2     2         0      1          0